.wrapper {
    padding: 0 18vw;
}

.board-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.btn {
    width: 45px !important;
    height: 45px;
}
