* {
    margin: 0;
    padding: 0;
}

/* Total scrollbar width */
::-webkit-scrollbar {
    width: 6px; /* for vertical scrollbar */
    height: 6px; /* for horizontal scrollbar */
}

/* Background of the scrollbar */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle (thumb) of the scrollbar */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle (thumb) when hovered */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@import url(./search.scss);
@import url(./board.scss);
@import url(./column.scss);
@import url(./task.scss);
